<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
            <div class="col-lg-8 my-3">
                <h1 class="text-center">Agenda</h1>
                <p class="text-center lead">Seus contatos estão abaixo</p>
            
                <div class="row">
                    <div class="col">
                        <div class="alert alert-danger">Erro</div>
                    </div>
                </div>
<!-- div.resoponsive-table>table.table>tr>td* -->
                <div class="resoponsive-table">
                    <table class="table my-3">
                        <tr>
                            <td>Diego</td>
                            <td>Lepamar</td>
                            <td>999999999</td>
                            <td>diegolar25@outlook.com</td>
                        </tr>
                    </table>
                </div>

            </div>
        <div class="col-lg-2"></div>
    </div>
</div>


<%- include('includes/footer') %>